<style>
    a {
      text-decoration: none;
      color: black;
      font-family: inherit;
    }

    a:visited,
    a:hover,
    a:active,
    a:focus {
      color: black;
    }

    .E {
      display: flex;
      flex-direction: column;
    }

    .main-menu1 {
      display: flex;
      justify-content: space-evenly;
    }
  </style>

  <body>
    <div class="main-menu1">
      <div class="E">
        <a href="#"><b>SHOP</b></a>
        <a href="#"><strong>Serum</strong></a>
        <a href="#">Hair Care</a>
      </div>
      <div>
        <a href="#"><strong>THE CLEAN MAG</strong></a>
      </div>
      <div>
        <a href="#"><strong>SKINCARE QUIZ</strong></a>
      </div>
      <div>
        <a href="#"><strong>Loyalty Program</strong></a>
      </div>
      <div>
        <a href="#"><strong>ABOUT</strong></a>
      </div>
    </div>
  </body>