<div>
  {%for item in shop.metaobjects.mutirow_info_product.values  %}
  <h1>item.sub_heading.value</h1>
  {% endfor %}
</div>














{% schema %}
  {
    "name": "meta",
    "settings": [],
      "presets" : [{
    "name": "meta_practice"
  }]
  }

{% endschema %}