<p>Hello From section figma</p>


<h2>{{ section.settings.text_TITLE }}</h2>
<p>{{ section.settings.text_setting }}</p>


{% schema %}
{
  "name": "section figma 1",
  "tag": "section",
  "class": "section-tutorial",
  "limit": 2,
  "blocks": [],
  "settings":[ {
        "type": "text",
        "id": "text_setting",
        "label": "Text Setting",
        "default": "Change text please",
        "info": "This is some helper text"
      },
    {
    "type": "text",
    "id": "text_TITLE",
    "label": "TITLE",
    "default": "Change text please",
    "info": "GIVE THE TITLE",
},
{
    "type": "textarea",
    "id": "textarea_setting",
    "label": "Textarea Setting",
}
    ],
  "presets": [
    {
      "name": "section figma 1",
      "settings":{}
      
    }
  ]
}
{% endschema %}
