<p>Hello From section figma</p>

{% schema %}
{
    "name" : "section figma 1",
    "tag" : "section",
    "class": "section-tutorial",
    "limit": 2,
    "settings": [],
    "blocks": [],
    "presets": [
        {
        "name" : "section figma 1",
        "settings": {}
        }
]
}
{% endschema %}
